
body{
    
    background-color: rgb(73, 141, 230);
    
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 4px 15px;
}
table tr:nth-child(odd){
background-color: rgb(238, 238, 238);
}

table tr:nth-child(even){
background-color: rgb(255, 255, 255);
}
th{
    background-color: rgb(161, 162, 165);
    
}
form{
    
    margin-left: 235px;
}
input {
    padding: 5px 2%;
    margin-left: 200px;
    display: block;
}

@media only screen and (max-width: 1280px) {
select{
    padding: 5px 4%;
    border-radius:8px ;
    margin-bottom: -20px;
    position:absolute; 
    top:5%;
    left:50%;
}
    form{
        
        border-radius: 8px;
        margin-left: 80px;
    }
    input {
        padding: 6px ;
        margin-left: 80px;
        margin-top: 5px;
        display: block;
        border-radius: 8px;
        position:relative;
        top:10%;
        left:28%;
    } 
    button{
        color: rgb(2, 2, 2);
        padding: 13px 10px;
        border: none;
        cursor: pointer;
        box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;}
    #add {
    position:absolute; 
    top:15%;
    left:78%;

}
#tara{
    width: 90px;
}
#btn{
    position :absolute; 
    top:21%;
    left:3%;
    width: 102px;
    height: 8%;
    
}
#btn2{
    position :absolute; 
    top:21%;
    left:30%;
    width: 75px;
    height: 8%;
}
        table, th, td{
            margin-top: 20%;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            padding: 8px 5px;
        } 
    }

