body {
    text-align: center;
    background-color: rgb(65, 115, 189);
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1.5px solid black;
    text-align: center;
    background: #fbfbfb;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 4px 15px;
}

table tr:nth-child(odd) {
    background-color: rgb(238, 238, 238);
}

table tr:nth-child(even) {
    background-color: rgb(104, 98, 98);
}

th {
    background-color: rgb(161, 162, 165);
}

button {
    margin-top: 10px;
    border-radius: 1dvh;
    padding: 9px;
}

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #636568;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para impressão */
@media print {
    button, .acoes {
        display: none;
    }
}

/* Melhorias de responsividade */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    table, th, td {
        font-size: 15px;
        padding: 5px 10px ;
    }

    .modal-content {
        
        width: 100%;
        padding: 35px;
    }

    th, td {
        
        width: 100%;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    #btn, #btn2 {
        margin-top: 10px;
    }
}
